{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-10">
          <h6 class="h2 text-white d-inline-block mb-0">Resultados possíveis</h6>
        </div>
        <div class="col-2">
          <button type="button" id="buscar-review" class="btn btn-success btn-lg">BUSCAR REVIEWS</button>
        </div>

      </div>
      <div class="row justify-content-center py-4">
        <h6 class="h2 text-white d-inline-block mb-0">Selecione a quantidade de reviews</h6>
        <select class="form-select form-select-lg mb-0 ml-2" name="qtdReview" id="qtdReview">
          <option selected value="100">100</option>
          <option value="200">200</option>
          <option value="300">300</option>
          <option value="400">400</option>
          <option value="500">500</option>
          <option value="600">600</option>
          <option value="700">700</option>
          <option value="800">800</option>
          <option value="900">900</option>
          <option value="1000">1000</option>
        </select>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        {% csrf_token %}
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr style="text-align: center;">
                <th scope="col" class="sort" data-sort="name">Tripadvisor</th>
              </tr>
            </thead>
            <tbody class="list">
              {% for u in resultsTripadvisor %}
              <tr>
                <td class="tripadvisor">
                  <div class="form-check">
                    <input class="tripadvisor form-check-input" type="checkbox" value="" id="{{ u.url }}">
                    <label class="form-check-label" for="flexCheckDefault">
                      <strong>{{ u.name }}</strong><br />
                      <span style="font-size: 10px">{{ u.address }}</span>
                    </label>
                  </div>
                </td>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="card">
        {% csrf_token %}
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr style="text-align: center;">
                <th scope="col" class="sort" data-sort="budget">Reclame aqui</th>
              </tr>
            </thead>
            <tbody class="list">
              {% for u in resultsReclame %}
              <tr>
                <td class="reclameAqui">
                  <div class="form-check">
                    <input class="reclameAqui form-check-input" type="checkbox" value="" id="{{ u.shortname }}">
                    <label class="form-check-label" for="flexCheckDefault">
                      <strong>{{ u.companyName }}</strong><br />
                      <!-- <span style="font-size: 10px">{{ u.address }}</span> -->
                    </label>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="card">
        {% csrf_token %}
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr style="text-align: center;">
                <th scope="col" class="sort" data-sort="status">Google Reviews</th>
              </tr>
            </thead>
            <tbody class="list">
              {% for u in resultsTripadvisor %}
              <tr>
                <td class="google">
                  <div class="form-check">
                    <input class="google form-check-input" type="checkbox" value="" id="{{ u.name }}">
                    <label class="form-check-label" for="flexCheckDefault">
                      <strong>{{ u.name }}</strong><br />
                      <span style="font-size: 10px">{{ u.address }}</span>
                    </label>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="card">
        {% csrf_token %}
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr style="text-align: center;">
                <th scope="col" class="sort" data-sort="status">Ifood</th>
              </tr>
            </thead>
            <tbody class="list">
              {% for u in resultsIfood %}
              <tr>
                <td class="ifood">
                  <div class="form-check">
                    <input class="ifood form-check-input" type="checkbox" value="" id="{{ u.url }}">
                    <label class="form-check-label" for="flexCheckDefault">
                      <strong>{{ u.name }}</strong><br />
                      <!-- <span style="font-size: 10px">{{ u.address }}</span> -->
                    </label>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<script>
  function busca() {
    var query = $('#input-busca').val()
    window.location.href = '/?query=' + query
  }
  $('#input-busca').keypress(function (event) {
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if (keycode == '13') {
      busca()
    }
  });

  $('#buscar-review').on('click', function () {
    var urlTrivadisor = []
    var urlsReclame = []
    var urlsGoogle = []
    var urlsIfood = []
    var select = document.getElementById("qtdReview");
    var qtdReview = select.options[select.selectedIndex].value;

    console.log(qtdReview);
    $("input.tripadvisor").each(
      function () {
        if ($(this).is(':checked')) {
          console.log($(this).attr("id"))
          urlTrivadisor.push($(this).attr("id"))
        }
      }
    );
    $("input.reclameAqui").each(
      function () {
        if ($(this).is(':checked')) {
          console.log($(this).attr("id"))
          urlsReclame.push($(this).attr("id"))
        }
      }
    );
    $("input.google").each(
      function () {
        if ($(this).is(':checked')) {
          console.log($(this).attr("id"))
          urlsGoogle.push($(this).attr("id"))
        }
      }
    );
    $("input.ifood").each(
      function () {
        if ($(this).is(':checked')) {
          console.log($(this).attr("id"))
          urlsIfood.push($(this).attr("id"))
        }
      }
    );
    Swal.fire(
      {
        icon: 'warning',
        title: 'Aguarde... A rotina está sendo executada.',
        showConfirmButton: false,
      }
    )

    window.location.href = `/buscar_review?qtdReview=${qtdReview}&urlTrivadisor=${urlTrivadisor.join(';')}&urlsReclame=${urlsReclame.join(';')}&urlsGoogle=${urlsGoogle.join(';')}&urlsIfood=${urlsIfood.join(';')}`
  });

  $('#bt-search').on('click', function () {
    busca()
  })
</script>

{% endblock javascripts %}